.ItemTitle {
  padding: 5px;
  font-size: 25px;
  text-align: center;
}

.Item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #09d3ac;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 6% 0;
}

@media (max-width: 600px) {
  .Item.ItemHover {
    padding: 6% 0;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    background: #0faa8b;
  }
  .Item.ItemHover .ProjectLink {
    opacity: 1;
  }
}

@media (min-width: 601px) {
  .Item:hover {
    padding: 6% 0;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    background: #0faa8b;
  }

  .Item:hover .ProjectLink {
    opacity: 1;
  }
}

.Skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Skill {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  min-width: 50px;
  text-align: center;
  border-radius: 20px;
  background: white;
}

.Description {
  text-align: center;
  margin: 0px 35px;
}

.ProjectLink {
  margin: 10px;
  text-decoration: none;
  color: black;
  opacity: 0;
  transition: opacity 1s;
}

.ProjectLinksContainer {
  display: flex;
}
