/* Toggle based on */
/* https://danklammer.com/articles/simple-css-toggle-switch/ */

.ToggleDiv {
    display: flex;
    align-items: center;
}

.ExpSelect {
    appearance: none;
    position: relative;
    width: 62px;
    height: 32px;
    margin: 10px;
    border-radius: 50px;
    background-color: #707070;
}

.ExpSelect::before {
    content: "";
    position: absolute;
    display: block;
    width: 28px;
    height: 28px;
    left: 2px;
    top: 2px;
    border-radius: 50px;
    z-index: 2;
    background-color: #ffffff;
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.ExpSelect:checked:before {
    left: 32px;
}
