.App {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background: #282c34;
}

.Header {
	display: flex;
	color: antiquewhite;
	height: 100px;
}

.HeaderLinks {
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.HeaderLink:link {
	color: #61dafb;
	margin: 4px;
}

.HeaderLink:visited {
	color: #61dafb;
}

.LinkImage {
	height: 25px;
}

.EmailContactContainer {
	margin: 10px;
	padding: 5px 15px;
	/* border: 1px solid #515868; */
	border-radius: 30px;
	background: antiquewhite;
	text-decoration: none;
	color: #282c34;
	font-weight: bold;
	user-select: none;
}

.EmailContactContainer:hover {
	cursor: pointer;
	background: #515868;
	color: antiquewhite;
	/* border: 1px solid #515868; */
}

.SectionWrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background: #09d3ac;
}

.ExperienceContainer {
	flex: 1;
}

.ExperienceDetails {
	height: 100%;
	display: flex;
}

.OpenSectionHeader {
	height: 100%;
	width: 55px;
	background: whitesmoke;
	border-right: 1px solid #000000;
}

.OpenSectionName {
	transform: rotate(-90deg);
	transform-origin: left top 0;
	position: absolute;
	bottom: 20px;
	font-size: 40px;
}

.Details {
	flex: 1;
	display: grid;
	grid-auto-flow: column;
	/* Used for borders between items; requires use of 1 fr instea of %*/
	grid-gap: 1px;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	background: whitesmoke;
}

.ClosedSection {
	height: 55px;
	background: gray;
	cursor: pointer;
	overflow: hidden;
}

.ClosedSection:hover {
	background: #515868;
}

.SectionName {
	color: antiquewhite;
	font-size: 40px;
}
