.App {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background: #282c34;
}

.SectionWrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background: #09d3ac;
}

.SectionHeader {
	display: flex;
}

.SectionName {
	flex: 1;
	text-align: center;
	color: whitesmoke;
	background: #000000;
	font-size: 25px;
	padding: 5px;
	cursor: pointer;
	user-select: none;
}

.SelectedSN {
	background: whitesmoke;
	color: #000000;
}

.ExperienceContainer {
	flex: 1;
}

.ExperienceDetails {
	height: 100%;
	display: flex;
}

.Details {
	flex: 1;
	display: grid;
	grid-auto-flow: column;
	/* Used for borders between items; requires use of 1 fr instea of %*/
	grid-gap: 1px;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	background: whitesmoke;
}

.ClosedSection:hover {
	background: #515868;
}
