.App {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background: #282c34;
}

.SectionWrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background: #09d3ac;
}

.ExperienceContainer {
	flex: 1;
}

.ExperienceDetails {
	height: 100%;
	background: yellowgreen;
}

.OpenSectionHeader {
	height: 100%;
	width: 55px;
	background: gray;
}

.OpenSectionName {
	transform: rotate(-90deg);
	transform-origin: left top 0;
	position: absolute;
	bottom: 20px;
	font-size: 40px;
	color: antiquewhite;
}

.Details {
	display: grid;
	max-width: 1000px;
	grid-auto-flow: column;
	grid-template-columns: repeat(10, 10%);
	grid-template-rows: repeat(10, 10%);
	background: whitesmoke;
}

.ClosedSection {
	height: 55px;
	background: #282c34;
	cursor: pointer;
	overflow: hidden;
}

.ClosedSection:hover {
	background: #515868;
}

.SectionName {
	color: antiquewhite;
	font-size: 40px;
}

.Item {
	background: #09d3ac;
	border: 1px solid #282c34;
}

.Item1 {
	grid-column: span 4;
	grid-row: span 8;
}

.Item:hover {
	background: #14a789;
}

.Item2 {
	grid-column: span 3;
	grid-row: span 5;
}
